body{
margin: 0; padding: 0; box-sizing: border-box;
font-family: sans-serif;
background: linear-gradient(to left, lightblue  , gray);
font-weight: 300;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
h1{
 color: white;
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px red;
    }
.container{
    display: inline-block;
    min-width : 360px;
    min-height: 400px;
    padding: 50px 15px;
    background-color:white;
    box-shadow: 0 5px 25px #0000004a;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    margin-top: 10px;
}
#circle {
    position: relative;
    background-color: #09f;
    margin: 20px auto;
    width: 350px;
    height: 350px;
    border-radius: 200px;
    border: 2px solid brown;
  }
  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
button{
    width: 30%;
}


